.video-wrapper {
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 0.85),
    rgba(14, 14, 14, 0.85)
  ) !important;
  background-size: cover !important;
  background-position: center !important;
  position: relative;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

header {
  height: 80px;
  padding: 0 20px;

  .cta-btn {
    background-color: transparent;
    color: #ffc40c;
    border: 2px solid #ffc40c;
    padding: 6px 16px;
    border-radius: 6px;
    font-weight: 600px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    margin-left: 20px;

    &:hover {
      background-color: #ffc40c;
      color: #000000;
    }
  }
}

header .nav-link {
  position: relative;
  color: #ffffff !important;
  padding: 10px 15px;
  transition: color 0.3s ease;
  margin-right: 8px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ffc40c;
    transition: width 0.3s ease;
  }

  &:hover,
  &:active {
    color: #ffc40c !important;
  }

  &:hover::after,
  &:hover::after {
    width: 100%;
  }
}

#hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  z-index: 1;

  h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    opacity: 0.85;
  }

  .cta-btn {
    background-color: transparent;
    color: #ffc40c;
    border: 2px solid #ffc40c;
    padding: 6px 16px;
    font-weight: bold;
    border-radius: 6px;
    font-weight: 600px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    margin-left: 20px;

    &:hover {
      background-color: #ffc40c;
      color: #000000;
    }
  }
}

/* responsive height for hero section*/
#hero-section {
  height: 90vh !important;

  @media (min-width: 992px) {
    & {
      height: 70vh !important;
    }
  }

  @media (min-width: 1024px) {
    & {
      height: 60vh !important;
    }
  }

  @media (min-width: 1440px) {
    & {
      height: 50vh;
    }
  }
}

.sidebar-btn {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 2rem;
  transition: color 0.3s ease;
}
